.cargando{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.541);
    z-index: 100;
    text-align: center;
}